/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* wildcard selector to overrride default browser settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* general styles for the body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #46686b;
    font-size: 1.1rem;
    font-weight: 900;
}

p, li {
  line-height: 2rem;
}

div {
    margin-top: 3rem;
}
/* header */
header {
    background-color: #ffffff;
    color: #46686b;
    padding: 0 1rem;
    position: relative;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: #46686b;
}
#menu {
    font-size: 110%;
    font-weight: bold;
    list-style-type: none;
    letter-spacing: 1px;
}
#memu li {
    margin-bottom: 1em;
}
.active {
    color: #C00403;
    font-weight: bold;
}


/* nav bar styles with dropdown toggle - acknowledge Code Institute tutor */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}
/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}
/* main content */
main {
    /* make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}
/* hero section */
#hero {
    height: 450px;
    width: 100%;
    background: url(../images/pexels-valeriya.jpg) no-repeat center center / cover;
    position: relative;
}
#overlay-text {
    background-color: rgba(37, 77, 76, 0.7);
    position: absolute;
    top: 40%;
    left: 0.5rem;
    width: 66%;
    min-height: 50px;
    padding: 1rem 0.5rem;
}
#overlay-text>h2 {
    color: #b9aa87;
    font-size: 90%;
}
/* main text content */
.div-padding {
    padding: 0 1rem;
}
.subhead {
  padding: 0.3rem 0;
  font-size: 1rem;
}
#hope ol {
    list-style-position: inside;
}

/* steps page */

#bridge {
    background: url(../images/pexels-snapwire.jpg) no-repeat center center / cover;
    height: 300px;
    width: 100%;
    position: relative;
    margin-top: 0%;
}

/* internal nav - steps page */

#nav-steps {
    width: 100%;
    display: contents;
}

#nav-steps-list {
    width: 100%;
    margin: 1.5rem auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: x-small;
}

#nav-steps-list a {
    text-decoration: none;
    color: #46686b;
    text-transform: uppercase;
    font-weight: 900;
}

#steps-main-text {
    margin-top: 0.625rem;
}

#behaviour {
    margin-top: 0;
}

#principles li {
    list-style-type: none;
}

.list-intro {
    color: #C00403;
    font-weight: 800;
}

h4 {
    color: #C00403;
    font-weight: 800;
    text-transform: uppercase;
}

#steps-prereqs {
    margin-top: 0;
}

#steps-prereqs-list {
    margin: auto 1rem;
}

#steps-heading {
    color: #172200;
}

#steps-list li{
    list-style-type: none;
}

/* footer */
footer p {
    text-align: center;
    font-weight: bold;
    color: #46686b;
}
#social-media {
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-media i {
    font-size: 150%;
    color: #46686b;
}
/* media query: tablets and larger (400px and up) */
@media screen and (min-width: 400px) {
  h1 {
    font-size: 1.4rem;
  }
    
  /* setps - internal navigation */
  #nav-steps-list {
    font-size: medium;
  }

  /* list margin adjustments */
  .list-margin {
    margin: 0 1.5rem;
}

#steps-prereqs-list {
    margin: auto 1.5rem;
}

}
/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 200%;
        line-height: 80px;
        margin: 0 0.5rem;
    }
    /* hero section */
    #overlay-text {
        width: 300px;
    }

    /* steps page - internal nav */
    #nav-steps-list {
        font-size: large;
    }
}
/* media query: small laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        color: #b9aa87;
    }
    #social-media i:hover {
        color: #b9aa87;
    }
    #overlay-text {
        top: 30%;
        left: 1.5rem;
        width: 33%;
        min-height: 200px;
        padding: 1.5rem 1.5rem;
    }
    #overlay-text>h2 {
        font-size: 200%;
    }

    #nav-steps-list a:hover {
        color: #b9aa87
    }
}
