/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* wildcard selector to overrride default browser settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles for the body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

/* header */
header {
    background-color: #f6edd9;
    color: #46686b;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 2px #7f4d3e;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #46686b;

}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 1px;
}

#memu li {
    margin-bottom: 1em;
}

.active{
    color: #7f4d3e;
    font-weight: bold;
}

/* nav bar styles with dropdown toggle - acknowledge Code Institute tutor */
nav {
    position: absolute;
    background-color: #f6edd9;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 2px #7f4d3e;
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* main content */
main {
    background-color: orangered;
    /* make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* footer */
footer {
    background-color: green;
}